/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100dvw;
  /* height: 100vh; */
  display: flex;
}

.sidebar {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #191d2b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 24vw;
  min-width: 200px;
  align-items: center;
  border-right: 1px solid #2e9df9;
}

nav {
  width: 100%;
  justify-content: center;
  height: 60%;
  background: url("../src/assets/logo.jpg");
  background-position: top;
  background-color: #212639;
  /* Red color with 50% opacity */
  background-blend-mode: multiply;
  /* mix-blend-mode: multiply; */
  padding: 20px 0;
}

nav li a {
  list-style-type: none;
  display: block;
  font-size: larger;
  color: #a7a9b2;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.3s ease;
  width: 100%;
}

nav li a:hover {
  background-color: #008cff85;
  color: aliceblue;
}

/* nav li a:active {
  background-color: rgb(70, 155, 201);
} */

.side-img img {
  width: 150px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 10px #a7a9b2, 0px 0px 15px #a7a9b2, 0px 0px 12.5px #a7a9b2;
  margin: 0 auto;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.side-img {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #2e9df9; */
  width: 100%;
  min-height: 200px;
}

.side-img img {
  animation: rotate 5s linear infinite;
  animation-direction: alternate;
  transition: all 0.3s ease;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(30deg);
  }
}
.side-img img:hover {
  scale: 1.1;
  animation-play-state: paused;
}

.desc {
  border-top: 1px solid #2e9df9;
  width: 100%;
  height: 10%;
  padding: 20px 0;
}

.main-area {
  border-top: 2px solid #2e9df9;
  border-bottom: 2px solid #2e9df9;

  width: 76vw;
  /* z-index: -1; */
  background-color: #191d2b;
  position: relative;
  left: 24vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
  height: 100dvh;
}

.main-area h1 {
  font-size: 3rem;
}

.para {
  font-size: 1.2rem;
  color: #a7a9b2;
  margin: 1rem 0;
}

.main-area .social-icons {
  font-size: 2.3rem;
}

.social-icons a {
  padding: 10px;
  display: inline-block;
  color: rgb(2, 133, 248);

  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: rgb(0, 101, 141);
  transform: scale(1.05);
}

.about {
  background-color: #10121b;
  /* display: flex; */
  /* width: 76vw; */
  padding: 0% 12px;
  overflow-x: hidden;
  overflow-y: auto;
}

.img-bio {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #037fff; */
  align-items: space-between;
  justify-content: center;
  width: 100%;
  gap: 3%;
  margin-top: 7%;
}

/* .about h1 {
  font-size: 3rem;
} */

.img-bio img {
  /* width: clamp(200px, 30%, 90%); */
  width: 45%;
  min-width: 250px;
  max-height: 400px;
  /* height: 60vh; */
  object-fit: contain;
}

.bio {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.bio .para {
  font-size: 1rem;
}

.heading {
  text-align: center;
  font-size: clamp(24px, 2.2rem, 50px);
  filter: drop-shadow(13px 30px 1px #5a5a6157);
}

.img-bio li {
  list-style-type: none;
  padding: 3px 0;
}

.img-bio li span {
  font-weight: bold;
  display: inline-block;
  min-width: 25%;
}

/* .bio {
  width: clamp(300px, 60%, 90%);
} */

.cv-btn,
.mail-btn {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  align-self: start;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  z-index: 2; /* Ensure the button has a z-index */
}
.cv-btn {
  color: rgb(217, 6, 6) !important;
  margin-bottom: 4px;
}
.cv-btn::before,
.mail-btn::before {
  content: "";
  background-color: #1394ff;
  transition: 0.3s ease;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1; /* Ensure the pseudo-element has a higher z-index */
}

.cv-btn:hover::before,
.mail-btn:hover::before {
  width: 100%;
}

.cv-btn a {
  text-decoration: none;
  color: aliceblue;
}

.sec2,
.sec1 {
  padding: 5%;
}

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10% 0;
  gap: 5%;
}

.service-card {
  border-top: 4px solid #2e9df9;
  box-shadow: 1px 1px 3px gray;
  padding: 18px 36px;
  min-width: 250px;
  margin-bottom: 5%;
  width: 40%;
  position: relative;
  /* max-width: 461px; */
  cursor: pointer;
  /* position: relative; */
  transition: all 0.3s ease-in;
}

.service-card::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 78787;
  background-color: rgb(37, 3, 231);
  scale: 0;
  transform-origin: left;
  transition: scale 0.6s ease;
}

.service-card:hover::after {
  scale: 1;
  /* background-color: #fff; */
}

.service-card .icon {
  font-size: 2rem;
  color: #33cbedee;
}

.service-card h3 {
  font-size: 1.4rem;
  /* color: #33cbedee; */
  margin-bottom: 10px;
}

.projects {
  padding: 5%;
}

.skills {
  padding: 2% 4%;
}

.project-list {
  display: flex;
  width: 100%;
  gap: 5%;
  /* justify-content: center; */
  padding: 4vh 0;
  /* align-items: center; */
  flex-wrap: wrap;
}

.project-card {
  margin: 2vh 0;
  min-width: 250px;
  width: 45%;
  border: 2px solid #008cff;
  overflow: hidden;
  /* overflow: hidden; */
  /* background: #614a4a; */
}

.project-card picture {
  width: 100%; /* make the picture container full width */
  height: 100%; /* make the picture container full height */
  overflow: hidden; /* hide any excess image */
}

.project-card img {
  /* width: 45%; */
  width: 100%;
  height: 300px;
  background-color: black;
  object-fit: cover;
  /* padding: 10px; */
  position: relative;
  border-bottom: 2px solid #008cff;
}

.project-card img::after {
  content: "";
  color: #037fff;
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}

.project-card .pname {
  padding: 0 8px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: #217dd8;
  white-space: nowrap;
  overflow: hidden;
  /* Hides any text that overflows the element's box */
  text-overflow: ellipsis;
}

.project-card .pname a:hover {
  color: #004d9a;
}

.project-card .para {
  padding: 0 8px;
  /* white-space: nowrap; */
  /* Prevents the text from wrapping to the next line */
  overflow: hidden;
  /* Hides any text that overflows the element's box */
  text-overflow: ellipsis;
  /* Appends an ellipsis (...) at the end of the overflowing text */
}

.skill-icons {
  display: flex;
  margin-top: 8%;
  gap: 10% 12%;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.skill-icon {
  /* background-color: #0381ff39; */
  border-radius: 50%;
  width: 50px;
  padding: 20px;
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: #00000042; */
  filter: drop-shadow(12px 8px 1.5px #efeff21b);
}

.skill-name {
  transform: translatey(-40px);
  opacity: 0;
  transition: all 0.3s ease-in;
}

/* .skill-icon:hover .skill-name {
  opacity: 1;
  transform: translateY(-10px);
} */

.skill-icon:hover .skill-name {
  opacity: 1;
  transform: translateY(-10px);
}

.first {
  display: flex;
  justify-content: center;
  padding: 1% 5%;
  gap: 7%;
}

.first .timing {
  min-width: 40%;
}

.resume h2 {
  padding: 1rem 10px;
}

.role {
  position: relative;
}

.role::before {
  content: "";
  position: absolute;
  left: -60px;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: #919191;
}

.contact {
  background-color: #10121b;
  min-height: 100dvh;
  padding-bottom: 5vh;
}

.contact .heading {
  margin: 6% 10%;
}

.contact-label {
  position: absolute;
  top: -4px;
  left: 6px;
  background: #10121b;
  padding: 0 4px;
  z-index: 88;
  /* right: 0px; */
}

.contact-input-div {
  position: relative;
  width: 90%;
}

.contact-input,
textarea {
  /* padding: 8px; */
  padding: 0.8rem;
  margin: 0.6rem 0;
  border-radius: 4px;
  width: 100%;
  color: white;
  background: transparent;
  /* min-width: 300px; */
  border: 1px solid grey;
  transition: transform 0.3s ease-in-out;
}

.contact-input:focus {
  /* outline: none; */
  transform: scale(1.02);
}

.wrapper {
  display: flex;
  width: 100%;
  padding: 0 1%;
  gap: 2%;
}

.contact-left,
.contact-right {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: start;
  margin: 0 auto;
  margin-left: 2.2rem;
  /* border: 1px solid white; */
  flex-direction: column;
  position: relative;
}

.contact-left {
  gap: 1rem;
  /* pointer-events: none; */
  /* filter: blur(2px); */
}

.contact-card {
  display: flex;
  padding: 5%;
  border: 1px solid white;
  width: 90%;
  gap: 10%;
  align-items: center;
  background-color: #191d2b;
  margin: 10px 0;
}

.contact-card .icon {
  font-size: 2em;
  color: #c0c0c0;
  padding: 10px;
  border: 0.5px solid gray;
}

.contact-card .info ul {
  list-style-type: none;
}

.burger {
  /* display: none; */
  border: 2px solid grey;
  font-size: 2rem;
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 20px;
  color: white;
  right: -2.5rem;
  z-index: 1000;
  display: none;
  /* Ensure the button is above other content */
}

@media (max-width: 700px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .project-list {
    align-items: center;
    justify-content: center;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }
  .contact-right {
    margin-top: 30px;
    width: 100%;
  }
  /* .contact-left-parent {
    display: none;
  } */
  .sidebar {
    z-index: 111;
    transition: all 0.3s ease;
    background-color: #000000ce;
    /* opacity: 0.85; */
    /* transform: translateX(-25vw); */
  }

  .main-area {
    width: 100%;
    /* z-index: -1; */
    position: static;
  }

  .button-container {
    display: block;
    right: -2.5rem;
    background: #00000076;
    z-index: 111111;
  }

  .burger {
    display: block;
    font-weight: bolder;
  }

  .first {
    flex-direction: column;
  }

  .skill-icons {
    gap: 10% 15%;
  }

  .skill-icon {
    height: 84px;
  }

  .skill-name {
    transform: translatey(-10px);
    opacity: 1;
  }
}

@media (max-width: 820px) {
  .img-bio img {
    width: 90%;
    max-width: 90%;
  }

  .bio {
    width: 90%;
    max-width: 95%;
  }

  .bio .para {
    font-size: 0.8rem;
  }

  .bio h2 {
    margin-top: 1rem;
  }

  .service-card {
    min-width: 90%;
    padding: 16px;
  }

  .project-card {
    width: 90%;
    /* overflow: hidden; */
    /* background: #5a5a07; */
  }
}

/* 
.ball {
  background: rgba(216, 216, 215, 0.521);
  width: 80px;
  height: 80px;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  top: 0;
  left: 0;
  border-radius: 50%;
} */

.type-effect {
  font-weight: 900;
  font-family: "kaushan script";
  font-size: 2rem;
  color: #1394ff;
}

.type-effect p {
  font-family: sans-serif;
  color: white;
  font-size: 1.5rem;
}

.not-found {
  position: absolute;
  top: 40vh;
  left: 50vw;
  text-align: center;
  line-height: 40px;
}

.homebtn {
  padding: 8px;
  border-radius: 4px;
  background-color: #004d9ac7;
  text-decoration: none;
  color: aliceblue;
  display: block;
  margin-top: 10px;
}
.homebtn:hover {
  background-color: #008cff;
}

@media (max-width: 820px) {
  .not-found {
    position: absolute;
    top: 50vh;
    left: 8vw;
  }
}
